DataAccessLayer/Service References/ISWS/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IdentityService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IdentityService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DatosBusquedaPersona">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DatosBusquedaPersona" nillable="true" type="tns:DatosBusquedaPersona" />
  <xs:complexType name="DatosPersona">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Apellido2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sucursal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DatosPersona" nillable="true" type="tns:DatosPersona" />
  <xs:complexType name="VData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AplicacionActivada" type="xs:boolean" />
      <xs:element minOccurs="0" name="EstadoTarjeta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExistePersona" type="xs:boolean" />
      <xs:element minOccurs="0" name="TarjetaId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VData" nillable="true" type="tns:VData" />
  <xs:complexType name="TB_Data">
    <xs:sequence>
      <xs:element minOccurs="0" name="EstadoTarjeta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Persona" nillable="true" type="tns:DatosPersona" />
      <xs:element minOccurs="0" name="TarjetaId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TB_Data" nillable="true" type="tns:TB_Data" />
</xs:schema>